<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <a routerLink="" mat-menu-item>
            <mat-icon>home</mat-icon>
            Home
        </a>
        <a routerLink="/user" mat-menu-item>
            <mat-icon>face</mat-icon>
            User
        </a>
    </mat-menu>
    <button *ngIf="!(currentUser$ | async)" mat-button (click)="login()">Login</button>
    <button *ngIf="currentUser$ | async" mat-button (click)="logout()">Logout</button>
    <button *ngIf="currentUser$ | async" mat-button routerLink="/user">{{(currentUser$ | async)?.email}}</button>
</mat-toolbar>